#Primero{
    width: 250px;
    height: 250px;
    margin: 30px;
    padding:30px;
    background-image: url(https://cdn.pixabay.com/photo/2018/05/04/20/01/website-3374825_960_720.jpg);}
   
#Segundo{
    width: 250px;
    height: 250px;
    margin: 30px;
    padding:30px;
    background-color: thistle;
    background: url(https://cdn.pixabay.com/photo/2020/09/07/20/38/website-5552822_960_720.png);

}

#Tercero{
    width: 250px;
    height: 250px;
    margin: 30px;
    padding:30px;
    background-color: turquoise;
    background: url(https://cdn.pixabay.com/photo/2013/07/18/10/59/human-skeleton-163715_960_720.jpg);

}
#Cuarto{
    width: 250px;
    height: 250px;
    margin: 30px;
    padding:30px;
    background-color:palevioletred;
    background: url(https://cdn.pixabay.com/photo/2016/12/06/01/26/colour-1885352_960_720.jpg);

}