


p.a{
    visibility: visible;
}
p.b{
    visibility: hidden;
}

.Overflow{
    background-color: #eee;
  width: 200px;
  height: 50px;
  border: 1px dotted rgb(160, 145, 145);
  overflow: visible;
}